body {
    padding: 0;
    margin: 30px 0;
    box-sizing: border-box;
}

.primary-header {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: green;
}

.main {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
}

.search-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

.search-box {
    border: 1px solid green;
    outline: 0;
    border-radius: 3px;
    height: 30px;
    width: 800px;
    padding: 5px;
}

.outer-container {
    width: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 20px;
    /* margin-left: 20px; */
}

.card {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    transition: transform 0.3s ease-in-out;
    height: 300px;
    text-align: center;
}

.descriptive-term {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid green;
}

.descriptive-data {
    margin: 10px 0;
    font-size: 1rem;
    text-align: center;
}

.recipe-image {
    width: 200px;
    height: 200px;
    /* border-radius: 5px; */
    margin-bottom: 10px;

}

.short-description .description {
    margin-top: 10px;
    font-size: 0.8rem;
    color: #555;
}

.hide {
    display: none;
}
