body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.primary-header {
    text-align: center;
    font-family: "Amatic SC", sans-serif;
    font-size: larger;
    text-decoration: underline;
    text-decoration-color: green;
}

.main {
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.search-area {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.search-box {
    border: 1px solid green;
    outline: 0;
    border-radius: 3px;
    height: 30px;
}
.search-icon, .add-icon{
    cursor: pointer;
}
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .card:hover{
    transform: rotateY(180deg);
} */
.inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    border: 1px solid green;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
    backface-visibility: hidden;
}
.short-description{
    backface-visibility: hidden;
    position: absolute;
    top: 10%;
    width: 150px;
    height: 150px;
    transform: rotateY(180deg);
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;

}
.descriptive-term {
    padding: 5px 0;
    font-weight: 600;
}

.descriptive-data {
    margin: 0;
    padding: 0 5px;
    border-top: 1px solid green;
}

.popup-content {
    background-color: rgb(0, 0, 0, 0.9);
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    visibility: hidden;
}

.popup-input {
    margin: 20px 10px 10px 10px;
    height: 20px;
    outline: 0;
}

.popup-textarea {
    resize: none;
    margin: 10px;
    height: 150px;
    outline: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.popup-button {
    margin: 0 10px;
}

@media (min-width: 425px){
    .search-box {
        width: 200px;
    }
    .outer-container {
        flex-direction: row;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-evenly;
        column-gap: 20px;
    
    }
}
@media (min-width: 600px){
    .search-box {
        width: 400px;
    }
}
@media (min-width: 800px){
    .search-box {
        width: 700px;
    }
}